<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body  ng-controller="myCtrl">
    <div ng-hide="isEditMode">
      <label>{{myName}}</label>
      <input type="button" value="Edit" ng-click="edit()">      
    </div>
    <div ng-hide="!isEditMode">
      <input type="text" ng-model="myName">      
      <input type="button" value="Save" ng-click="save()">
    </div>
  </body>
</html>